<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>	
	<title>Grid</title>
</head>
<body>

	<div id= "grid">
		<table>

			<thead>
				<tr>
					<th v-for="col of options.cols"> Header </th>
				</tr>
			</thead>
			<tbody>
					<tr v-for="row of options.rows">
						<td v-for="col of options.cols"> Text </td>
					</tr>
			</tbody>
		</table>
	</div>

	<script>
		var grid = new Vue({
			el : "#grid",

			data : {
				options : {
					rows : 10,
					cols : 3,
				},
			}
		});
	</script>
		
		
	</div>

</body>
</html>