<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>VueJS project</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

</head>
<body>

	<template id="grid">
		<table>
			<thead>
				<tr>
					<th v-for="th of header"> {{ th.name }} </th>
				</tr>
			</thead>
			<tbody>
					<tr v-for="content of body">
						<td v-for="column of header"> {{ content[column.alias] }} </td>
					</tr>
			</tbody>
		</table>
	</template>

	<div id="app">
		<button v-on:click="show = !show"> Скрыть/Показать</button>
		<transition name="animation">
			<app-grid v-if="show"></app-grid>
		</div>
		</transition>
	</div>



	<script src="grid.js"></script>
	<script src="app.js"></script>
</body>
</html>