
.animation-enter-active, .animation-leave-active {
  transition: all 1s;
}
.animation-enter, .animation-leave-to {
  transform: translateX(-500px);
 }

.th, td {
    width: 100px;
    border: 1px solid #d3d3d3;
    width: 130px;
    height: 25px;
    text-align: center;
}
